.sobre_header {
    /* width: 100%; */
    height: 20rem;

    background: url('../../assets/about1_img.jpeg');
    background-position: center;
    background-size: 100%;
}

.nome_sobre {
    display: flex;
    justify-content: center;

    color: var(--color-white);
    padding-top: 9rem;
    font-size: 1.5rem;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.sobre_linha:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: var(--color-white);
    margin: 8px auto;
}

.about-container {
    max-width: 87%;
    margin: 0 auto;
}

.about-maior {
    background: var(--color-green-primary);
    border-radius: 1rem;
    margin-top: 3rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.34);
}

.about-maior p {
    max-width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about-maior h1{
    max-width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
}

.about-maior h1:after {
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background: var(--color-white);
}

.columns-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.coluna {
    margin-top: 2rem;
    background: var(--color-green-primary);
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.34);
}

.coluna p {
    max-width: 85%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.coluna h1 {
    max-width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
}

.coluna h1:after {
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background: var(--color-white);
}

.pvalores {
    padding-top: 2rem;
}

.pvalores p {
    padding-bottom: 1rem;
}

.pcima {
    padding-top: 2rem;
}

.coluna1 {
    margin-left: 1rem;
}

.coluna2 {
    margin-right: 1rem;
}

@media (max-width: 600px) {
    .sobre_header {
        height: 17rem;
    }

    .columns-container {
        grid-template-columns: 1fr;
    }

    .coluna1 {
        margin-left: 0;
    }

    .coluna2 {
        margin-right: 0;
    }
}