.container_apoie {
    max-width: 87%;
    margin: 0 auto;
}

.apoie_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.block {
    background: var(--color-green-primary);
    border-radius: 1rem;
    margin-top: 2rem;

    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.34);

    transition: var(--transition);
}

.icon_apoie {
    text-align: center;
    font-size: 50px;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
}

.block strong {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.block p {
    text-align: center;
}

@media (max-width: 600px) {
    .apoie_column {
        grid-template-columns: 1fr;
    }
}